/* header-beckground-color #FFFFFF
titel text color #212121
text color #757575
features beckgraund color #F5F5F5
team beckground color #F5F4FA
hero-footer beckground color #2F303A
accent color #2196F3
hero footer text color #FFFFFF
logo color #000000   #2196F3
addres text color rgba(255, 255, 255, 0.6)
*/

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root{
    --logo-start-color: #2196F3;
    --logo-end-color: #000000;
    --titel-text-color:#212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --header-beckground-color: #FFFFFF;
    --hero-footer-beckground-color: #2F303A;
    --hero-footer-text-color: #FFFFFF;
    --features-beckgraund-color: #F5F5F5;
    --team-beckground-color: #F5F4FA;
    --addres-text-color: rgba(255, 255, 255, 0.6);
} 

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li, p{
    margin: 0;
    padding: 0;
}

.conteiner{
    text-align: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.conteiner.hero{
    padding-top: 200px;
    padding-bottom: 200px;
}

.conteiner.footer{
    text-align-last: left;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section{
    padding-bottom: 94px;
    padding-top: 94px;
}

.section.features{
    padding-bottom: 0;
   
}

/* logo */

.logo{
    display: inline-block;
    width: 145px;

    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.start-logo{
    color:var(--logo-start-color)
}

header .end-logo{
    
    color:var(--logo-end-color)
}

footer .end-logo{


    color:var(--header-beckground-color)
}

/* header */

.box-header{
    display: flex;
    align-items: center;

    padding-top: 24px;
    padding-bottom: 25px;    
}

header .logo{
    margin-right: 93px;
}

header{
    background-color: var(--header-beckground-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}

.navi{
    display: flex;

    list-style-type: none;
}

header .navi > li{
    margin-right: 50px;
}

header .navi > li:last-child{
    margin-right: 0;
}

.navi-link{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--titel-text-color);
}

.navi-link:hover, .navi-link:focus{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color:var(--accent-color)
}

.navi-link[href="./index.html"]{
    color:var(--accent-color)
}

.contacts-header{
    display: flex;
    margin-left: auto;
}

.head-mail, .head-tel{
    display: inline-block;

    color: var(--text-color);
    text-decoration: none;
}

.head-mail{
    margin-right: 50px;
}


.head-mail:hover, .head-mail:focus,
.head-tel:hover, .head-tel:focus{
    color: var(--accent-color);
}

/* hero */

.hero.section{
    background-color: var(--hero-footer-beckground-color);
    padding-bottom: 0;
    padding-top: 0;
}

.hero h1{
    width: 696px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;

    color: var(--hero-footer-text-color);
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero button{
    margin-top: 30px;
    padding: 10px 32px;
    font-family:inherit;
    border-color: var(--accent-color);
    border-radius: 4px;
    min-width: 216px;
    
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--hero-footer-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* features */

.features-list.box{
    display: flex;
}

.features-list.box > li{
    margin-right: 30px;
}

.features-list.box > li:last-child{
    margin-right: 0;
}

.features{
    background-color: var(--features-beckgraund-color);
}

.features-titel{
    text-align: left;

    margin-bottom: 10px;
    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-list{
    list-style-type: none;
}

/* піздніше приберемо .features-meaning з допомогою scc

.features-meaning{
    
} */

.features-text{
    text-align: left;
    
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about */

.box.about-list{
    display: flex;
}

.about{
    background: var(--features-beckgraund-color);
}

.about-list{
    margin-right: 30px;

    list-style-type: none;
}

.about-list:last-child{
    margin-right: 0;
}

.about-titel{
    margin-bottom: 50px;

    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* team */

.box.team-list{
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}

.team{
    background-color: var(--team-beckground-color);
}

.team-list{
    list-style-type: none;
}

.team-list-person{
    margin: 15px; 
    padding-bottom: 30px;

    background-color: var(--header-beckground-color);
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    min-height: 368px;
}

.team-titel{
    margin-bottom: 50px;

    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name{
    margin-top: 30px;
    margin-bottom: 10px;

    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* footer */

footer{
    background-color: var(--hero-footer-beckground-color);
}

footer .logo{
    margin-bottom: 20px;
}

footer .link{
    display: inline-block;
    text-align: left;

    

    list-style-type: none;
}

.footer-address{
    margin-bottom: 9px;
    text-decoration: none;

    color: var(--hero-footer-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.footer-mail-tel{
    text-decoration: none;

    color: var(--addres-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address:hover, .footer-address:focus,
.footer-mail-tel:hover, .footer-mail-tel:focus{
    color: var(--accent-color);
}




/* PORTFOLIO */

/* header*/

.navi-link.studia{
    color: var(--titel-text-color);
}

.navi-link.portfolio{
    color: var(--accent-color);
}


/* піздніше приберемо .working > h1 з допомогою scc

.working > h1{
    
} */

.working ul{
    list-style-type: none;
} 

.box-filters{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
}

.box-filters > li{
    display: block;
    margin-right: 8px;

}

.box-filters > li:last-child{
    margin-right: 0;
}

.working img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.working .filters{
    display: block;

    font-family:inherit;
    
    padding: 6px 22px;
    min-width: 73px;

    cursor: pointer;

    border-radius: 4px;
    border-color: transparent;

    background-color: var(--team-beckground-color);
    color: var(--titel-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.working button:hover, .working button:focus{
    background-color: var(--accent-color);
    color: var(--hero-footer-text-color);
}

.working-titel{
    text-align-last: left;
    margin-bottom: 4px;

    color: var(--titel-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.working-text{
    text-align-last: left;

    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

}

.box-working{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.box-working > li{
    margin: 15px;
}

.person{
    width: 370px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;

    margin-left: auto;
    margin-right: auto;

    padding: 20px 24px;
}

.working a{
    text-decoration: none;
}